html {
    height: 100%;
}

.vars {
    background: rgb(240, 240, 240);
    padding: 30px 10px;
    margin: 10px;
    border-radius: 10px;
}

.example-buttons button {
    display: inline-block;
}

.example-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.form-group.shiny-input-container {
    margin: 0 auto;
}

.container-fluid {
    margin: 0 auto;
    display: block;
    max-width: 600px;
    background: white;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-group.shiny-input-container {
    margin-bottom: 15px;
}

#logo {
    max-width: 165px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

body {
    background: #6a5ccc;
    background: -moz-linear-gradient(-45deg, #6a5ccc 0%, #9d4ed3 28%, #1279bc 70%, #3b6ac4 100%) fixed;
    background: -webkit-linear-gradient(-45deg, #6a5ccc 0%,#9d4ed3 28%,#1279bc 70%,#3b6ac4 100%) fixed;
    background: linear-gradient(135deg, #6a5ccc 0%,#9d4ed3 28%,#1279bc 70%,#3b6ac4 100%) fixed;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a5ccc', endColorstr='#3b6ac4',GradientType=1 );
    background-size: cover;
    background-repeat: no-repeat;
}

h4 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ececec;
    margin-bottom: 20px;
    margin-top: 0;
}

#export_word, a#export_xls, a#export_csv {
    margin: 10px auto;
    background: #518ec2;
    border: 0;
    color: white;
    padding: 10px 30px;
}

input.form-control[readonly="readonly"] {
    padding: 19px;
}

.bottom-nav button {
    margin: 10px 5px;
}

.bottom-nav {
    text-align: center;
}

.btn-default {
    background: #518ec2;
    border: 0;
    color: white;
    padding: 10px 30px;
}

span.navbar-brand {
    display: none;
}

nav {
    display: none;
}

#selected_cols {
    width: 100%;
}

h6.error-message {
    background: #7B0D1E;
    color: white;
    padding: 13px 20px;
    text-align: center;
    border-radius: 100px;
    font-size: 15px;
}

.bootstrap-select>.dropdown-toggle {
    color: #757575;
    background: #f1f1f1;
}

.form-group.shiny-input-container.shiny-input-radiogroup.shiny-input-container-inline {
    max-width: 300px;
}

button.btn.radiobtn.btn-default.active {
    background: #518ec2;
    color: white;
}

.dropdown.bootstrap-select.show-tick.form-control {
    margin: 10px 0;
}

.btn-group-vertical.btn-group-container-sw {
    margin: 0 auto;
    display: block;
}

.radioGroupButtons .btn-group .btn {
    background: #f1f1f1;
    color: #757575;
}

.container-fluid.wide {
    max-width: 1200px;
}

select,
input[type="search"] {
    border: none !important;
    background: #f4f4f4;
    padding: 5px 10px;
    border-radius: 100px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border: none !important;
    background: #f4f4f4 !important;
    border-radius: 100px;
}

button:focus,
select:focus,
input:focus {
    outline:0;
}

.shiny-busy .loading-container {
    visibility: visible;
    display: block !important;
}

table.dataTable thead th, table.dataTable thead td,
table.dataTable.no-footer {
    border-color: #e2e2e2;
}

.footer-link {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.footer-link a {
    text-decoration: none;
}

thead {
    background: #518ec2;
    border-radius: 5px;
}

thead th{
    color: white;
    font-weight: 200!important
}

table.dataTable thead th, table.dataTable thead td {
    border: none !important;
}

table.dataTable.no-footer {
    border: none !important;
    box-shadow: 0 0 10px #00000029;
    margin: 20px 0 !important;
}

.dataTables_wrapper .dataTables_length {
    float: none;
    display: inline-block;
}

table.dataTable.row-border tbody tr:first-child th, table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th, table.dataTable.display tbody tr:first-child td {
    border-top: none !important;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border: none !important;
}

.dataTables_wrapper .dataTables_length {
    margin-bottom: 20px;
}

.version-number {
    text-align: center;
}

#plot1, #plot2 {
    height: auto !important;
}
